// Colours
$color-card-light-red: #cb356b;
$color-card-dark-red: #bd3f32;
$color-card-light-green: #78ffd6;
$color-card-dark-green: #007991;
$color-card-light-yellow: #f2c94c;
$color-card-dark-yellow: #f2994a;

$color-primay: #3b9890;
$color-primay-dark: #134541;
$color-primay-light: #84d2b4;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;
$color-grey-dark: #777;
$color-grey-dark-2: #ababab;
$color-grey-dark-3: #333;
$color-white: #fff;
$color-black: #000;

// Font
$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
